{{template "layouts/base.html" .}}

{{define "main"}}

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('user', {
            email: '{{.Email}}',
            quota: Number.isNaN(parseInt('{{.Quota}}', 10)) ? null : parseInt('{{.Quota}}', 10),
        });

        Alpine.store('recipe', {
            summaryState: 'NOT_STARTED',
            suggestionsState: 'NOT_STARTED',
            url: '',
            summary: '',
            summaryError: '',
            suggestions: [],
            suggestionsError: '',
            reset() {
                this.summaryState = 'NOT_STARTED';
                this.suggestionsState = 'NOT_STARTED';
                this.summaryError = '';
                this.suggestionsError = '';
                this.summary = '';
                this.suggestions = [];
            },
            async fetch() {
                const url = this.url;
                if (!url) {
                    return;
                }

                this.reset();
                try {
                    this.summaryState = 'FETCHING';
                    const result = await fetch(`/recipes/summary/${encodeURIComponent(url)}`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json'
                        }
                    });
                    const parsed = await result.json();
                    if (result.status < 200 || result.status >= 400) {
                        throw new Error(parsed.message);
                    }
                    this.summary = parsed.summary;
                    this.summaryState = 'SUCCESS';
                } catch (error) {
                    console.error({ log: 'failed to fetch', error });
                    this.summaryState = 'ERROR';
                    const errorParts = error.toString().split(':');
                    this.summaryError = errorParts[errorParts.length - 1];

                    // Stop processing here.
                    return;
                }

                try {
                    this.suggestionsState = 'FETCHING';
                    const result = await fetch(`/recipes/suggestions/${encodeURIComponent(url)}`, {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json'
                        }
                    });
                    const parsed = await result.json();
                    if (result.status < 200 || result.status >= 400) {
                        throw new Error(parsed.message)
                    }

                    this.suggestions = parsed;
                    this.suggestionsState = 'SUCCESS';
                } catch (error) {
                    console.error({ log: 'failed to fetch', error });
                    this.suggestionsState = 'ERROR';
                    const errorParts = error.toString().split(':');
                    this.suggestionsError = errorParts[errorParts.length - 1];
                }

                // Update user's current quota
                try {
                    const result = await fetch(`/user`, {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json'
                        }
                    });
                    const parsed = await result.json();
                    if (result.status < 200 || result.status >= 400) {
                        throw new Error(parsed.message)
                    }

                    Alpine.store('user').quota = parsed.quota;
                } catch (error) {
                    // Eat the error. The user gets the latest on refresh
                    console.log({ message: 'error updating quota', error })
                }
            }
        });
        Alpine.store('previousrecipes', {
            urls: [],
            state: 'NOT_STARTED',
            async fetch() {
                try {
                    this.state = 'FETCHING';
                    const result = await fetch(`/recipes/suggestions/recent`, {
                        headers: {
                            'Accept': 'application/json'
                        }
                    });
                    this.urls = await result.json();
                    this.state = 'SUCCESS';
                } catch (error) {
                    this.state = 'ERROR';
                    console.error({ log: 'failed to fetch suggestions', error })
                }
            }
        });

    });
</script>

<section class="section">
    <div class="columns">
        <div class="column">
            <h1 class="title is-1">Wine Pairing Suggestions</h1>
        </div>
        <div class="column is-two-fifths is-size-7 has-text-right-desktop">
            {{if .Email}}
            <p>Logged in as {{.Email}}</p>
            <p>(<span x-data x-text="$store.user.quota"></span> Suggestions Left)</p>
            <p><a href="/logout">Logout</a></p>
            {{end}}
        </div>
    </div>
    <div class="block">
        <p>
            Are you planning a meal and you want to find the perfect wine to make it
            pop? Have you ever been invited to dinner and didn't know what to bring
            that would go well? Tell us about the meal and we'll suggest wines to
            pair.
        </p>
    </div>

    {{if .Email }}
    <form class="box" x-data @submit.prevent="$store.recipe.fetch()">
        <p class="block">
            <label for="url">
                Let's add the URL for a recipe you want to pair.
                <input name="url" type="text" x-model="$store.recipe.url">
            </label>
        </p>
        <p class="block" x-data>
            <input type="submit" class="button is-primary" value="Get Suggestions"
                x-bind:disabled="!($store.recipe.url && $store.user.quota)" />
        </p>
        <div class="block" x-init="$store.previousrecipes.fetch()" x-data>
            <div x-show="$store.previousrecipes.state == 'SUCCESS'">
                <strong>Try it out with a recently analyzed recipe:</strong>
                <ul>
                    <template x-for="url in $store.previousrecipes.urls">
                        <li>
                            <a x-text="url" @click.prevent="$store.recipe.url = url">
                        </li>
                    </template>
                </ul>
            </div>
            <div x-show="$store.previousrecipes.state == 'FETCHING'">
                <p><em>Loading websites with recent suggestions.</em></p>
            </div>
        </div>
    </form>
</section>


<section class="section" id="summary" x-data x-show="$store.recipe.summaryState != 'NOT_STARTED'">
    <h2 class="title is-2">Summary</h2>
    <p x-show="$store.recipe.summaryState == 'FETCHING'">
        <progress class="progress is-small is-primary" max="100">Loading...</progress>
    </p>
    <div class="box" x-show="$store.recipe.summaryState == 'SUCCESS'">
        <p class="content" x-text="$store.recipe.summary"></p>
    </div>
    <article class="message is-danger" x-show="$store.recipe.summaryState == 'ERROR'">
        <div class="message-header">
            <p>Something broke!</p>
        </div>
        <div class="message-body" x-text="$store.recipe.summaryError"></div>
    </article>
</section>

<section class="section" id="suggestions" x-data
    x-show="$store.recipe.summaryState != 'ERROR' && $store.recipe.suggestionsState != 'NOT_STARTED'">
    <h2 class="title is-2">Pairing Suggestions</h2>
    <p x-show="$store.recipe.suggestionsState == 'FETCHING'">
        <progress class=" progress is-small is-primary" max="100">Loading...</progress>
    </p>
    <div x-show="$store.recipe.suggestionsState == 'SUCCESS'">
        <template x-for="suggestion in $store.recipe.suggestions">
            <div class="box">
                <h3 class="title is-4" x-text="`${suggestion.style} - ${suggestion.region}`">
                </h3>
                <p x-text="suggestion.description"></p>
                <p x-text="suggestion.pairingNote"></p>
            </div>
        </template>
    </div>
    <article class="message is-danger" x-show="$store.recipe.suggestionsState == 'ERROR'">
        <div class="message-header">
            <p>Something broke!</p>
        </div>
        <div class="message-body" x-text="$store.recipe.suggestionsError"></div>
    </article>
</section>
{{else}}
<section class="section">
    <p>
        <strong>Sign in to get started</strong>
    </p>

    <div id="g_id_onload" data-client_id="{{.GoogleClientID}}" data-context="signin" data-ux_mode="redirect"
        data-login_uri="{{.Hostname}}/oauth/response/" data-nonce="" data-auto_prompt="false">
    </div>

    <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_blue" data-text="signin_with"
        data-size="large" data-logo_alignment="left">
    </div>

    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://accounts.google.com/gsi/client" async></script>
</section>
{{end}}
{{end}}