<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
    </style>
    <title>Wine and Food Pairings - Login</title>
</head>

<body>
    <section class="section">
        <h1 class="title is-1">Sign in to get started</h1>

        <div id="g_id_onload" data-client_id="{{.GoogleClientID}}" data-context="signin" data-ux_mode="redirect"
            data-login_uri="{{.Hostname}}/oauth/response/" data-nonce="" data-auto_prompt="false">
        </div>

        <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_blue" data-text="signin_with"
            data-size="large" data-logo_alignment="left">
        </div>

        <script src="//unpkg.com/alpinejs" defer></script>
        <script src="https://accounts.google.com/gsi/client" async></script>
    </section>
</body>

</html>